@import url('../styles/_fonts.css');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: rgb(248, 212, 94);
}

#container {
  background-color: rgb(243, 234, 234);
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 30px;
  width: 1250px;
  height: auto;
  border-radius: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

/* Weather CSS */
.weather {
  margin-bottom: 20px;
}
.weatherInfo {
  font-size: 5px;
  color: lightslategray;
  margin-left: 5px;
}

.w-img {
  width: 2.2em;
  transform: translate(0%, 25%);
}

/* Clock CSS */
.clock {
  color: navy;
  text-shadow: -1px 1px 3px black;
  font-size: 100px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}
.date {
  color: navy;
  text-shadow: -1px 1px 3px black;
  margin-top: 0;
  font-size: 30px;
  text-align: center;
}

/* toggle btn for Dark mode */

.header-box {
  display: flex;
  justify-content: space-between;
}

.toggle-box {
  margin-top: 10px;
  margin-right: 15px;
}
.ic-moon {
  font-size: 25px;
}

.toggle {
  position: relative;
  display: inline-block;
}
.toggle-box {
  margin-top: 2px;
}
.toggle input {
  display: none;
}

.toggle label {
  display: block;
  width: 49px;
  height: 25px;
  text-indent: -250%;
  user-select: none;
}

.toggle label::before,
.toggle label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
}

.toggle label::before {
  width: 100%;
  height: 100%;
  background-color: #c4b8b8;
  border-radius: 1em;
  transition: background-color 0.25s ease;
}

.toggle label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(37, 71, 146);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
  transition: left 0.25s ease;
}

.toggle input:checked + label::before {
  background-color: rgb(65, 206, 164);
}

.toggle input:checked + label::after {
  left: 25px;
}

/* Search CSS */
.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.keyword {
  font-size: 20px;
  padding-left: 35px;
  width: 70%;
  height: 50px;
  border-radius: 30px;
  border: none;
  box-shadow: -3px -5px 9px rgba(255, 255, 255, 0.45),
    3px 2px 9px -5px rgba(94, 104, 121, 0.3);
  outline-style: none;
}

.keyword:focus {
  box-shadow: rgba(99, 144, 228, 0.3) 0px 0px 5px 3px;
  border: rgba(15, 192, 139, 0.3);
}

.ic-search::before {
  color: gray;
  position: absolute;
  margin-top: 14px;
  margin-left: 7px;
  font-size: 25px;
  background-color: none;
}

/* TODO CSS */

#todo-box {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 3px;
  box-shadow: -3px -5px 9px rgba(255, 255, 255, 0.45),
    3px 2px 9px -5px rgba(94, 104, 121, 0.3);
  border: none;
  border-radius: 20px;
  background-color: #fdfdfd8c;
}
#todo-input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  box-shadow: -3px -5px 9px rgba(255, 255, 255, 0.45),
    3px 2px 9px -5px rgba(94, 104, 121, 0.3);
  border: none;
}

#todo-input:focus {
  box-shadow: rgba(111, 136, 168, 0.7) 0px 0px 8px 1px;
  outline: none;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

#todo-list {
  width: 100%;
  height: 380px;
  margin-left: 10%;
  overflow-y: auto;
  text-align: start;
}

.delBtn {
  height: 20px;
  font-size: 5px;
  color: red;
  font-weight: bold;
  background-color: #faf2f2;
  border: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #e9dfdf;
  cursor: pointer;
  margin-top: 5px;
}

.delBtn:hover {
  color: white;
  background-color: #fc2222;
}

#chkDone {
  margin-top: 7px;
}

#todo-list span {
  padding-bottom: 5px;
}
#todo-list li {
  display: flex;
  justify-content: space-between;
}

#todo-list li:hover {
  background-color: lightgoldenrodyellow;
}

#todo-list::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar CSS */

#todo-list::-webkit-scrollbar-thumb {
  background-color: rgb(240, 218, 148);
  border-radius: 10px;
}

#todo-list::-webkit-scrollbar-track {
  background-color: rgb(85, 80, 80);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

@media screen and (min-width: 600px) {
  #container {
    width: 100%;
    height: fit-content;
  }
  .toggle-box {
    margin-top: 3px;
  }
  .ic-moon {
    font-size: 12px;
  }

  .toggle label {
    width: 18px;
    height: 10px;
    text-indent: -50%;
  }

  .toggle label::before {
    width: 100%;
    height: 100%;
  }

  .toggle label::after {
    width: 10px;
    height: 10px;
  }

  .toggle input:checked + label::after {
    left: 8px;
  }

  /* Weather CSS */

  .weatherInfo {
    width: 100%;
    font-size: 5px;
  }

  .w-img {
    width: 20px;
    margin-top: 13px;
    margin-left: -2px;
  }

  /* Clock CSS */
  .clock {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
  }
  .date {
    margin-top: 0;
    font-size: 12px;
  }

  /* Search CSS */

  .search-bar {
    margin-top: 30px;
    margin-bottom: 35px;
  }

  .keyword {
    font-size: 5px;
    padding-left: 20px;
    width: 60%;
    height: 20px;
  }

  .ic-search::before {
    margin-top: 6px;
    font-size: 10px;
  }

  /* TODO CSS */

  #todo-box {
    width: 90%;
    height: 100%;
  }

  #todo-input {
    width: 100%;
    height: 30px;
  }

  .title {
    font-size: 12px;
    margin: 10px 0 0 0;
    padding: 10px;
  }

  #todo-list {
    width: 100%;
    height: 300px;
    font-size: 5px;
    margin: 15px 5px 15px 42px !important;
  }

  .delBtn {
    font-size: 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  #container {
    width: 95%;
    height: fit-content;
  }

  .ic-moon {
    font-size: 18px;
  }

  .toggle label {
    width: 30px;
    height: 15px;
  }

  .toggle label::before {
    width: 100%;
    height: 100%;
  }

  .toggle label::after {
    width: 15px;
    height: 15px;
  }

  .toggle input:checked + label::after {
    left: 15px;
  }

  /* Weather CSS */

  .weatherInfo {
    font-size: 12px;
    width: 100%;
  }

  .w-img {
    width: 25px;
    margin-top: 13px;
    margin-left: 0;
  }

  /* Clock CSS */
  .clock {
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
  }
  .date {
    margin-top: 0;
    font-size: 20px;
  }

  /* Search CSS */

  .search-bar {
    margin-top: 30px;
    margin-bottom: 35px;
  }

  .keyword {
    font-size: 12px;
    padding-left: 25px;
    width: 70%;
    height: 35px;
  }

  .ic-search::before {
    margin-top: 10px;
    font-size: 15px;
  }

  /* TODO CSS */

  #todo-box {
    width: 90%;
    height: 100%;
  }

  #todo-input {
    width: 100%;
    height: 30px;
  }

  .title {
    font-size: 13px;
    margin: 10px 0 0 0;
    padding: 10px;
  }

  #todo-list {
    width: 90%;
    height: 300px;
    font-size: 14px;
    margin: 15px 15px;
  }

  .delBtn {
    width: 50px;
    height: 20px;
    font-size: 10px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 768px) {
  #container {
    width: 95%;
    height: fit-content;
  }

  .ic-moon {
    font-size: 20px;
  }

  .toggle label {
    width: 35px;
    height: 18px;
  }

  .toggle label::before {
    width: 100%;
    height: 100%;
  }

  .toggle label::after {
    width: 18px;
    height: 18px;
  }

  .toggle input:checked + label::after {
    left: 18px;
  }

  /* Weather CSS */

  .weatherInfo {
    font-size: 12px;
    margin-top: 8px;
    margin-left: 12px;
  }

  .w-img {
    width: 25px;
    margin-top: 13px;
    margin-left: 0;
  }

  /* Clock CSS */
  .clock {
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
  }
  .date {
    margin-top: 0;
    font-size: 28px;
  }

  /* Search CSS */

  .search-bar {
    margin-top: 30px;
    margin-bottom: 35px;
  }

  .keyword {
    font-size: 12px;
    padding-left: 30px;
    width: 70%;
    height: 35px;
  }

  .ic-search::before {
    margin-top: 10px;
    font-size: 15px;
  }

  /* TODO CSS */

  #todo-box {
    width: 90%;
    height: 100%;
  }

  #todo-input {
    width: 100%;
    height: 30px;
  }

  .title {
    font-size: 15px;
    margin: 10px 0 0 0;
    padding: 10px;
  }

  #todo-list {
    width: 93%;
    height: 300px;
    font-size: 15px;
    margin: 15px 15px 15px 30px;
  }

  .delBtn {
    width: 60px;
    height: 20px;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1024px) {
  #container {
    width: 95%;
    height: 100%;
  }
  .toggle-box {
    margin-top: 30px;
  }
  .ic-moon {
    font-size: 30px;
  }

  .toggle label {
    width: 50px;
    height: 25px;
  }

  .toggle label::before {
    width: 100%;
    height: 100%;
  }

  .toggle label::after {
    width: 25px;
    height: 25px;
  }

  .toggle input:checked + label::after {
    left: 25px;
  }

  /* Weather CSS */
  .weather {
    margin-top: 10px;
  }

  .weatherInfo {
    font-size: 20px;
    margin-top: 8px;
    margin-left: 18px;
  }

  .w-img {
    width: 35px;
    margin-top: 25px;
    margin-left: 0;
  }

  /* Clock CSS */
  .clock {
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
  }
  .date {
    margin-top: 0;
    font-size: 45px;
  }

  /* Search CSS */

  .search-bar {
    margin-top: 70px;
    margin-bottom: 65px;
  }

  .keyword {
    font-size: 20px;
    padding-left: 40px;
    width: 80%;
    height: 50px;
  }

  .ic-search::before {
    margin-top: 16px;
    margin-left: 10px;
    font-size: 20px;
  }

  /* TODO CSS */

  #todo-box {
    width: 90%;
    height: 100%;
  }

  #todo-input {
    width: 100%;
    height: 50px;
  }

  .title {
    font-size: 25px;
    margin: 50px 0 0 0;
    padding: 20px;
  }

  #todo-list {
    width: 93%;
    height: 400px;
    font-size: 20px;
    margin: 30px 10px 30px 50px;
  }

  .delBtn {
    width: 60px;
    height: 20px;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 20px;
  }
}
